body{
	margin: 0;
	padding: 0;
}

.outside{
	position: absolute;
	width: 100%;
	height: 150%;
	overflow: hidden;
	background: linear-gradient(135deg,#833ab4,#fd1d1d,#fcb045);
	background-size: 200% 200%;
	animation: gradient 7s ease infinite;
}
h2{
	font-family: Lato Black;
	color: #ffffff;
	position: absolute;
	transform: translate(-50%.-50%);
	font-size: 50px;
	border: 5px groove #ff0000;
	padding: 1% 36%;
	margin: 1%;
	text-transform: uppercase;
	background: linear-gradient(45deg,#f7a62c,#c40404,#501470);
	background-size: 150% 150%;
	animation: gradient 7s ease infinite;
}
#button{
	font-family: Impact, sans-serif;
	color: #BADA55;
	text-decoration: none;
	padding: 1% 36%;
	font-size: 20px;
}
.animation div{
	position: absolute;
	width: 60px;
	height: 60px;
	background-color: transparent;
	border: 5px solid #ffffff;
}
.animation div:nth-child(1){
	top: 12%;
	left: 42%;
	animation: animate 10s linear infinite;
}
.animation div:nth-child(2){
	top: 70%;
	left: 50%;
	animation: animate 7s linear infinite;
}
.animation div:nth-child(3){
	top: 17%;
	left: 6%;
	animation: animate 9s linear infinite;
}
.animation div:nth-child(4){
	top: 20%;
	left: 60%;
	animation: animate 10s linear infinite;
}
.animation div:nth-child(5){
	top: 67%;
	left: 10%;
	animation: animate 6s linear infinite;
}
.animation div:nth-child(6){
	top: 80%;
	left: 70%;
	animation: animate 12s linear infinite;
}
.animation div:nth-child(7){
	top: 60%;
	left: 80%;
	animation: animate 15s linear infinite;
}
.animation div:nth-child(8){
	top: 32%;
	left: 25%;
	animation: animate 16s linear infinite;
}
.animation div:nth-child(9){
	top: 90%;
	left: 25%;
	animation: animate 9s linear infinite;
}
.animation div:nth-child(10){
	top: 20%;
	left: 80%;
	animation: animate 5s linear infinite;
}

@keyframes animate{
	0%{
		transform: scale(0) translateY(0) rotate(0);
		opacity: 1;
	}
	100%{
		transform: scale(1.3) translateY(-150px) rotate(360deg);
		opacity: 0;
	}
}

@keyframes gradient{
	0%{
		background-position: 0 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0 50%;
	}
}
.one{
	position: absolute;
	z-index: 2;
	font-family: Arial;
	color:#000000;
	top: 200px;
	left: 25px;
	border: 2px solid #000000;
	padding: 15px;
	padding-bottom: 5px;
	width: 550px;
	font-size: 12px;
	background: linear-gradient(90deg,#FFFFFF,#12c2e9);
	text-indent: 15px;
}
.two{
	position: absolute;
	z-index: 2;
	font-family: Arial;
	color:#000000;
	top: 200px;
	left: 660px;
	border: 2px solid #000000;
	padding: 15px;
	padding-bottom: 5px;
	width: 550px;
	font-size: 12px;
	background: linear-gradient(90deg,#12c2e9,#c471ed);
	text-indent: 15px;
}
.three{
	position: absolute;
	z-index: 2;
	font-family: Arial;
	color:#000000;
	top: 200px;
	left: 1295px;
	border: 2px solid #000000;
	padding: 15px;
	padding-bottom: 5px;
	width: 550px;
	font-size: 12px;
	background: linear-gradient(90deg,#c471ed,#f64f59);
	text-indent: 15px;
}